{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1 class="text-center mb-3">{{ item.title }}</h1>
        </div>

    </div>

{% endblock %}